:root {
    //font
    --global-primary-font-family: "Montserrat";
    
    //background color
    --global-primary-menu-background-color: #F96331;
    --global-secondary-menu-background-color: #EC5E30;
    --global-primary-weather-background-color: #FFB236;


    //font color
    --global-primary-stock-font-color: #000000;
    --global-secondary-stock-font-color: #B3B3B3;

    --global-primary-weather-font-color: #FFF;
    --global-secondary-weather-font-color: #FFD68F;

    --global-less-value-font-color: #F3363C;
    --global-plus-value-font-color: #5DD53F;

}

.paddingRight_3 {
    padding-right: 3rem;
}