@import "../../styles/globalStyle.module.scss";

#header {
    background-color: var(--global-primary-menu-background-color);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileSection {
    height: 3rem;
    display: flex;
    align-items: center;
}

.menuSection {
    width: auto;
    display: flex;
    flex-direction: row;
}

.widgetsHeaderForMobile { 
    border-top: .09rem solid #F2784F;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;

}

@media only screen and (max-width: 599px) {
    #header {
        padding-top: 1rem;
    }
}