.buttonStyle {
    padding-left: 2rem;
    border-radius: 0px !important;
    color: var(--global-primary-weather-font-color) !important;
    font-weight: bold !important;
    font-size: .6rem !important;
    letter-spacing: 0.12rem !important;
}

@media only screen and (max-width: 599px) {
    .buttonStyle {
        width: 100%;
        height: 6vh;
        padding: 0rem;
        background: var(--global-secondary-menu-background-color) !important;
        font-size: .9rem !important;
    }
}